.fam8 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: bold    ;
  }

  .espaciado{
    margin-top:0px ;
    margin-bottom:0px ;
    padding-top: 0px;
    padding-bottom:0px ;
  } 
  
  .espaciad{
    margin-left:5px ;
    padding-left: 5px;
    background-color: rgb(238, 242, 248);
  }